#!/bin/bash

# Wait for DRM device
sleep 2

# Rotate display to portrait and set sane resolution after cage starts
(
  sleep 4
  wlr-randr --output {{ kiosk_display_output }} --mode {{ kiosk_display_mode }} --transform {{ kiosk_display_transform }}
) &

exec cage -d -- firefox --kiosk "{{ kiosk_url }}"
